<p id="notice"><%= notice %></p>
<div class="container">
	<h1>Posts</h1>

	<table>
		
		<% @posts.order(created_at: :desc).each do |post| %>
			<% post_id = post.id %>
			<% comments_count = post.comments.count %>
				<td class="list_body">
					<dl id="post_<%= post_id %>">
						<div class="row">
							<div class="col-sm-4"><%= post.title %></div>
						</div>
						<dd><%= truncate(strip_tags(post.body), length: 150) %></dd>
						<% if post.tags.length > 0 %>
						<da id="tags">
							Tags <%= raw(post.tag_list.map {|t| 
							link_to t, tag_path(t)}.join(', ')) %>
						</da>
				<% end %>
				<da class="comments_<%= post_id %>">
					<%= link_to "Add comment", new_comment_path(post_id: post_id), remote: true if user_signed_in? %>
				</da>
				<da><%= post.created_at.strftime('%-d %b\'%y %H:%M')%></da>
				<% if user_signed_in? %>
					<% if (post.user_id == current_user.id) %>
						<da>
							<%= link_to 'Show', post %>
							<%= link_to 'Edit', edit_post_path(post) %>
							<%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?'}%>
						</da>
					<% end %>
				<% end %>
					</dl>
					<% if comments_count > 0 %>
						<dl id="comments_<%= post_id  %>">
							<%= link_to pluralize(comments_count, 'comment'), comments_path(post_id: post_id), id: "comments_#{post_id}", class: "btn btn-primary", remote: true %>
					</dl>
				<% end %>
				 </td>
				</tr>
			<% end %>
	</table>

	<br>

	<%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>
	<% if user_signed_in? %>
	<%= link_to 'Logout', logout_path, class: "btn btn-primary", method: :delete %>
	<% end %>
<%= link_to 'Sign_in', "#sign_in", "data-toggle" => "modal", class: "btn btn-small"%>
				<%= link_to 'Sign_up', "#sign_up", "data-toggle" => "modal", class: "btn btn-small"%>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#someId">Sign in
				</button>

				<div class="modal fade" id="someId">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<div class="modal-body">
								Some text
							</div>
							<div class="modal-footer">
							</div>

						</div>
					</div>
				</div>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Open modal
</button>

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


				<%= render 'devise/registrations/sign_up' %>
				<%= render 'users/sessions/sign_in' %>
</div>
