<p id="notice"><%= notice %></p>
<div class="container" style="width:900px">
	<h1>Posts</h1>

	<div id="notifications"></div>
	<%= link_to 'New Post', new_post_path, class: "btn btn-primary btn-block" %>
	<% @posts.order(created_at: :desc).each do |post| %>
		<% post_id = post.id %>
		<% comments_count = post.comments.count %>
		<div class="card mb-3"> 
				<div id="post_<%= post_id %>">
					<%= image_tag post.picture.url(:medium), class: "card-img-top" if post.picture.file? %>  
					<div class="card-body">
						<div class="row">
							<h3 class="col font-weight-bold"><%= post.title %></h3>
							<span class="col text-right"><%= post.created_at.strftime('%-d %b\'%y %H:%M')%></span>
						</div>
						<p class="card-text"><%= truncate(strip_tags(post.body), length: 50) %></p>
						<% if (post.tags.length > 0) %>
							<p class="card-text" id="tags">
								Tags <%= raw(post.tag_list.map {|t| link_to "\##{t}", tag_path(t)}.join(', ')) %>
							</p>
						<% end %>
					
						<% if user_signed_in? %>
							<div class="comments_<%= post_id %>">
								<%= link_to "Add comment", new_comment_path(post_id: post_id), class: "card-link", remote: true %>
								<% if (post.user_id == current_user.id) %>
									<%= link_to 'Show', post, class: "card-link" %>
									<%= link_to 'Edit', edit_post_path(post), class: "card-link" %>
									<%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?'}, class: "card-link" %>
								<% end %>
							</div>
						<% end %>

						<% if comments_count > 0 %>
							<div id="card-text comments_<%= post_id %>">
								<%= link_to comments_path(post_id: post_id), id: "comments_#{post_id}", class: "btn btn-primary", remote: true do %>
									Comments <span class="badge badge-light"><%= comments_count %></span>
								<% end %>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
</div>
